/*---------
   fonts
 ---------- */
 @import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@1,500&display=swap');


/*-----------------
   common style
 ------------------ */
 body{
    background-color: #ffff;
    font-family: 'Be Vietnam Pro', sans-serif;
}
 main{
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 
 

/* ---------------
   header style
------------------- */
header{display: flex;
    
    justify-content: space-between;
}
.header-title{margin-left: 50px;}    
.nav-menu ul{
    display: flex;
     
}    

.nav-menu{
    display: flex;
    margin-right: 30px;
}
.nav-menu li{
    list-style: none;
    margin-right: 20px;
     

}
.nav-menu li a {
    text-decoration: none;
    color: black;
}







/*-------------------
      section a style
-------------------- */

.top-contant{
   display: flex;
     
}
.text-title{
    margin-left: 50px;
    width: 450px;
    height: 200px;
}
.anchor,.anchor-b{
    text-decoration: none;
    color: white;
   background-color: blue;
    border-radius: 5px;
     
}
 
 
 
.title-imag img{
    width: 70%;
    margin-left: 70px;
}
/* section-b style start */
.container-b{
     
    width: 750px;
    height: 1250px;
    justify-content: center;
    


}
.main-container{
   display:grid ;
    grid-template-columns: repeat(3,1fr);
    
    
  
    
     
    
}
.sub-container{
    width: 230px;
    height: 400px;
   
    margin-bottom: 10px;
     border-radius: 5px ;
     background-color: #ffff;
      
    
}
.imag-container img{
    width: 100%;
}
.info-container{
    width: 100%;
}
.anchor-b{
      margin-left: 140px;
}
.star-span{
    display: flex;
}
.star{
    color: goldenrod;
}
.span{
    margin-left: 15px;
}
 

.footer{
     
      position: absolute;
     color: whitesmoke;
     background-color: black;
     text-align: center;
     justify-content: center;
     align-items: center;
     margin-bottom: 30px;
     margin-left: 270px;
     

      
}
 
h2{
    animation: animation 3s  0.3s 3 ;
}
 

/*------------ 
@mediaquary
--------------*/
@media only screen and (max-width:550px) {
    .container{
         width: 100%;
         justify-content: center;
    }
 
   
   
    .nav-menu{
        display: none;
    }
    .top-contant{
        display: block;
    }
    .text-title{
        width: 220px;
        height: 250px;
    }
    .title-imag img{
        width: 225px;
        height: 300px;
        margin-top: 20px;
        
    } 
    .container-b{
        width: 100%;
        justify-content: center;

    }
    .main-container{
        display: block;
        grid-template-columns: repeat(1,1fr);
         align-items: center;
        
    } 
    .footer{
        display: none;
    }
}
/* @ tablet responsiv */
@media only screen and (min-width:551px) and (max-width:850px) {
     
    .top-contant{
        width: 100%;
        display: block;
        grid-template-columns: 2,1fr;
         justify-content: center;
         

    }
    .main-container{
        width: 100%;
        grid-template-columns: repeat(2,1fr);
         justify-content: center;
         margin-left: 50px;
         margin-bottom: 20px;
    }
    .footer{
        position: absolute;
        margin-top: 800px;
    }
  
    
}
 